body {
  font-family: sans-serif;
  padding-left: 10px;
  margin: auto;
  max-width: 1280px;

    /* On initialise le compteur nbquestion. Le nom du compteur n'est pas un sélecteur CSS, vous choisissez donc le nom qui vous convient. */
    counter-reset: nbquestion ;
}


/* PA*/
.question:after { 
  /* On insert la valeur du compteur nbquestion  */
  content: counter(nbquestion)  ;
  /* On incrémente la valeur du compteur nbquestion */
  counter-increment: nbquestion ;
}

.question {
  font-weight: bold;
}
.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

/* PAS */

h1 {
  text-align: center;
  color: red;
  background-color: darkgreen;
}

h3 {
font-weight:bold;
text-decoration: underline blue;

}
.correction {
  color: orange;
  background-color: navy;
  border: solid black;
}